requests
selenium
BeautifulSoup4
pandas
scrapy
scrapy-splash
flask
Flask-RESTful
Flask-SQLAlchemy
flask-marshmallow
flask-migrate
marshmallow
marshmallow-sqlalchemy
python-dotenv
Celery
redis
flower
pytz
PyJWT
flask-cors
